---
import Layout from "~/components/Layout.astro"
import { getEntry } from "astro:content"

const { data } = await getEntry("data", "anime")
---

<Layout title="Anime" description="アニメ">
  <h1>アニメ</h1>
  <p>主にサブスクで観たやつ。漏れあり。2024年6月時点。</p>
  <ul>
    {
      data.map((e: any) => {
        if (typeof e == "string") return <li>{e}</li>
        const [series, entries]: any = Object.entries(e)[0]
        return (
          // prettier-ignore
          <li>{series}<ul>
              {entries.map((e: string) => (
                <li>{e}</li>
              ))}
            </ul>
          </li>
        )
      })
    }
  </ul>
</Layout>
