---
import Layout from "~/components/Layout.astro"
import { getEntry } from "astro:content"

// const { data } = await getEntry("data", "manga")
---

<Layout title="Manga" description="漫画">
  <h1>漫画</h1>
  <p>覚えてねーーーー</p>
</Layout>
