---
import { badgen } from "badgen"
import "./badges.css"

async function updated() {
  const fallback = "9315-19-19T11:45:14Z"
  const token = import.meta.env.GITHUB_TOKEN
  if (!token) return fallback
  const res = await fetch(`https://api.github.com/repos/${repo}/commits?author=yamader`, {
    headers: { Authorization: "Bearer " + token },
  })
  if (!res.ok) return fallback
  try {
    const body = await res.json()
    return body[0].commit.author.date
  } catch (e) {
    console.error(e)
    return fallback
  }
}

const { repo } = Astro.props
const date = await updated()
---

<a class="badge" href={"https://github.com/" + repo}>
  <Fragment
    set:html={badgen({
      label: "GitHub",
      status: date,
      color: "blue",
    })}
  />
</a>
