:root {
  --f-sans: "UDEV Gothic 35LG", monospace;
  --f-mono: "UDEV Gothic 35LG", monospace;
}

@font-face {
  font-family: "UDEV Gothic 35LG";
  src: url("/assets/UDEVGothic35LG-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "UDEV Gothic 35LG";
  src: url("/assets/UDEVGothic35LG-Bold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}
