:root {
  --f-sans: "Firge", monospace;
  --f-mono: "Firge", monospace;
}

@font-face {
  font-family: "Firge";
  src: url("/assets/Firge35-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Firge";
  src: url("/assets/Firge35-Bold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}
