$breakpoints: (
  min: 0,
  xs: 384px,
  sm: 512px,
  md: 768px,
  lg: 896px,
  xl: 1280px,
) !default;

// Break point Value
@function bpVal($bp: md) {
  @return #{map-get($breakpoints, $bp)};
}

// Break point Media query Up
@mixin mqUp($bp: md) {
  @media (max-width: #{map-get($breakpoints, $bp)}) {
    @content;
  }
}

// Break point Media query Down
@mixin mqDown($bp: md) {
  @media (min-width: #{map-get($breakpoints, $bp)}) {
    @content;
  }
}
