---
import Layout from "~/components/Layout.astro"
import { getCollection } from "astro:content"

const services = await getCollection("service")
---

<Layout title="Service" description="作ったサービス">
  <h1>Service</h1>

  <ul class="tree">
    {
      services.map(e => (
        <li class="node">
          <a href={e.slug + "/"}>{e.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
