<hr />

<footer>
  <p><small>&copy; 2020-2024 YamaD</small></p>
</footer>

<style>
  hr {
    display: none;
  }

  * {
    margin-top: 0;
  }

  footer {
    margin-top: auto;
    padding: 0.8rem 0 0.5rem;
    text-align: center;
  }
</style>
