---
const links = [
  { href: "/", name: "Top" },
  { href: "/about/", name: "About" },
  { href: "/something/", name: "Something" },
  { href: "https://seppuku.club/", name: "Blog" },
]

const urlPathName = Astro.url.pathname.split("/").filter(p => p)
---

<nav>
  {
    links.map(({ href, name }) => (
      <a href={href} class:list={[Astro.url.pathname === href && "active"]}>
        {name}
      </a>
    ))
  }
</nav>

<hr />

{
  urlPathName.length > 1 && (
    <ul class="breadcrumb" role="navigation">
      {urlPathName.map((p, i) => (
        <li>
          <a href={"/" + urlPathName.slice(0, i + 1).join("/") + "/"}>{p}</a>
          {/*ここCSSで動かせればいいなぁ */}
          {i != urlPathName.length - 1 && ">"}
        </li>
      ))}
    </ul>
  )
}

<style>
  hr {
    display: none;
  }

  nav {
    display: flex;
    background: #111;

    a {
      &:hover {
        background: #181818;
      }
    }
  }

  a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0 0.35rem;
    border-bottom: 1px solid #444;
    color: currentColor;
    font-size: 0.9rem;
    text-decoration: none;

    &.active {
      background: #222;
      color: white;
      border-bottom: 1px solid transparent;
      font-weight: bold;
    }
  }

  a + a {
    border-left: 1px solid #333;
  }

  .breadcrumb {
    /* リセットCSSが動いてない？ */
    margin-block: 0;
    padding-inline-start: 0;

    /* スタイルここから */
    background-color: maroon;
    display: flex;
    list-style: none;

    li {
      display: flex;
      justify-items: center;
      align-items: center;

      a {
        margin-right: 10px;
        margin-left: 10px;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
</style>
