---
const links = [
  { href: "/", name: "Top" },
  { href: "/about/", name: "About" },
  { href: "/something/", name: "Something" },
  { href: "https://seppuku.club/", name: "Blog" },
]
---

<nav>
  <ul>
    {
      links.map(({ href, name }) => {
        const active =
          href == "/" ? Astro.url.pathname == href : Astro.url.pathname.startsWith(href)
        // prettier-ignore
        return <li class:list={[active && "active"]}><a href={href}>{name}</a></li>
      })
    }
  </ul>
</nav>

{
  Astro.url.pathname.split("/").length > 3 && (
    <div style={{ background: "maroon" }}>募: いい感じのパンくずリストのデザイン</div>
  )
}

<style>
  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #444;
    font-size: 0.9rem;

    &.active {
      border-bottom: 1px solid transparent;
      font-weight: bold;
    }

    & + li {
      border-left: 1px solid #333;
    }
  }

  a {
    display: flex;
    padding: 0.3rem 0;
    align-items: center;
    justify-content: center;
    background: #111;
    color: white; /* currentColor */
    text-decoration: none;

    &:hover {
      background: #181818;
    }

    .active & {
      background: #222;
    }
  }
</style>
