@import "styles/sanitize.scss";
@import "styles/helpers.scss";
@import "styles/variables.scss";
@import "styles/fonts.scss";
@import "katex/dist/katex.min.css";

html {
  background-color: $c-bg;
  color: $c-text;
}

body {
  font-family: $f-normal;

  *:focus-visible {
    outline: auto;
  }
}

a {
  margin: 0 .2em;
  color: $c-link;
  font-weight: bolder;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

code {
  margin: .25em;
  padding: .25em .5em;
  border-radius: .25em;
  background-color: $c-dimBg;
  cursor: text;
  font: .8em $f-mono;
}

pre {
  padding: 1em;
  background-color: $c-dimBg;
  border-radius: .25em;
  line-height: 1.2;

  code {
    margin: 0;
    padding: 0;
    border-radius: 0;
  }
}

hr {
  border: 1px solid;
}

// .fullscr {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

.pix {
  image-rendering: crisp-edges;
}

.acrylic {
  background: rgba(60, 60, 60, .5);
  backdrop-filter: blur(16px);
  border: solid .5px rgba(255, 255, 255, .1);
  border-radius: 8px;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, .25);
}

.scale {
}
