@import "lib/fonts.css";

@tailwind base;

body {
  /*@apply ;*/
}

h1 {
  @apply text-4xl font-bold;
}
h2 {
  @apply my-4 text-3xl font-bold;
}

p {
  @apply flow-root;
}

pre {
  /*@apply ;*/
  /*
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--text-color);
*/
}

ul {
  @apply list-disc list-inside;
}

a {
  @apply text-cyan-600 no-underline hover:underline;
}

@tailwind components;

.container {
  @apply md:max-w-screen-md md:my-8 p-4;
}

@tailwind utilities;
