@import "styles/sanitize.scss";
@import "styles/responsive.scss";
/*@import "styles/fonts.scss";*/

body {
  margin: 0;
}

h1 {
  @apply text-4xl font-bold;
}
h2 {
  @apply my-4 text-3xl font-bold;
}

p {
}

pre {
  /*@apply ;*/
  /*
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--text-color);
*/
}

ul {
}

a {
  @apply text-cyan-600 no-underline hover:underline;
}

#svelte {
  display: flex;
  flex-direction: column;
  @apply md:max-w-screen-md md:my-8 p-4;
}

/* Header */

.headerNav {
  display: flex;
}

.headerNav ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.copyright {
  @apply inline-block mx-2 my-4 font-bold text-gray-600;
}
