@import "styles/sanitize.scss";
@import "styles/helpers.scss";
@import "styles/variables.scss";
@import "styles/fonts.scss";
@import "katex/dist/katex.min.css";

// Global

html, body, input, textarea, select, button {
  background-color: $c-bg;
  color: $c-text;
}

body {
  font-family: $f-normal;

  *:focus-visible {
    outline: auto;
  }
}

a {
  margin: 0 .2em;
  color: $c-link;
  font-weight: bolder;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

code {
  margin: .25em;
  padding: .25em .5em;
  border-radius: .25em;
  background-color: $c-dimBg;
  cursor: text;
  font: .8em $f-mono;
}

pre {
  padding: 1em;
  background-color: $c-dimBg;
  border-radius: .25em;
  line-height: 1.2;

  code {
    margin: 0;
    padding: 0;
    border-radius: 0;
  }
}

h1 {
  font-weight: bolder;
}

hr {
  margin: 1.5rem auto;
}
